#board-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 400px;
    height: 400px;
    border: 1px solid black;;
}

.cell {
    border: 1px solid black;
    display: flex;
    position: relative;
}

#player-board .ship {
    background-color: blue;
}

.miss {
    background-color: lightgrey;
}

.miss::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgrey;
}

.hit {
    background-color: green;
}

.hit::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

#computer-board .cell:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.hide {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

/* Start of Grouped CSS */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #111827; /* bg-gray-900 */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-family: 'Orbitron', sans-serif;
}

.header-text h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: rgb(0, 195, 221);
}

.header-text p {
    color: rgb(180, 178, 178);
}

.header-info {
    background-color: #283142;
    width: 50%;
    height: 9rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: rgb(180, 178, 178);
}
.header-info p {
    margin-top: 0px;
    font-size: 1.1rem;
}

.header-buttons {
    display: flex;
    gap: 1rem;
} 

.header-buttons button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: medium;
}

.header-buttons #play-button {
    background-color: rgb(0, 138, 156);
    color: white;
    font-weight: bold;
}

#restart-button, #swap-button {
    background-color: #59595a;
    color: white;
    font-weight: bold;
}

.header-buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.header-buttons button:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}