#board-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 400px;
    height: 400px;
    border: 1px solid black;;
}

.cell {
    border: 1px solid black;
    display: flex;
    position: relative;
}

#player-board .ship {
    background-color: blue;
}

.miss {
    background-color: lightgrey;
}

.miss::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgrey;
}

.hit {
    background-color: green;
}

.hit::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

#computer-board .cell:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.hide {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

